@page "/workout/add"
@using System.Text.Json
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject IExerciseService ExerciseService

<PageTitle>Add a Workout</PageTitle>
<h1 style="text-align: center"> Add A Workout </h1>
<EditForm Model="exerciseplan" class="addForm" OnSubmit="HandleSubmit" FormName="AddExercisePlan">
        <div class="mb-3">
            <label for="Date" class="form-label">When Is Your Workout?</label>
            <input type="date" class="form-control" @bind-value="@exerciseplan.Date">
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">What Type of Workout (ie. Leg, Chest, Smalls, Back)?</label>
            <InputText @bind-Value="@exerciseplan.Category" class="form-control">@exerciseplan.Category</InputText>
        </div>
        @* <a class="btn btn-info" href="/exercises/add">Next</a> *@
        <button type="submit" class="btn btn-info">Next</button>
</EditForm>

@code {

    //Ties empty ExercisePlan model to this form
    [SupplyParameterFromForm]
    ExercisePlan exerciseplan {get; set;} = new();

    async Task HandleSubmit()
    {
        await ExerciseService.AddExercisePlan(exerciseplan);
        NavigationManager.NavigateTo($"/exercises/add/{@exerciseplan.WorkoutId}");
    }

}
